<p>Moves left: <%= moves_left %></p>
<p>Correct: <%= correct %></p>
<p>Incorrect: <%= incorrect %></p>
<form method="POST" action="/">
  <p>Enter a letter: <input type="text" name="guess"/></p>
</form>
